<html>
    <body>
        
        <div>
            <h1 style="text-align:center; min-width: 500px; max-width: 700px; font-style: unset; margin:0 auto; font-size: 38; font-family: 'Times New Roman', Times, serif;" class="LearnMorestyled__LearnMoreHeading-sc-1q3ykrf-1 juTuIp">
                <b>Frontend Practice provides you with the inspiration and resources to create beautiful websites.</b>
            </h1>
        </div>
        <div><p>\n</p></div>
        <div>
            <p style="text-align:center; font-size: 26; max-width: 450px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;" class="LearnMorestyled__LearnMoreSubHeading-sc-1q3ykrf-2 fqtDUF">
                Here are some ways you can benefit from using our platform:
            </p>
        </div>
    </body>
</html>