<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[DEVLABS - 2025]</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class = "navbar">
        <div class = "innerNavbar">
            <div class = "menuTitle">
                <a href="https://www.frontendpractice.com/">Frontend Practice</a>
            </div>
        <div class = "menuLinks">
            <a href="https://www.frontendpractice.com/">Home</a>
            <a href="https://www.frontendpractice.com/projects">Projects</a>
            <a href="https://www.frontendpractice.com/faq">FAQ</a>
        </div>
        </div>
    </nav>
    <script src="script.js"></script>
</body>
</html>
