*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 61px;
    padding-left: 36px;
    padding-right: 36px;
    border-bottom: 2px solid;
}
.innerNavbar{
    padding: 8px 0px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menuTitle{
    font-weight: 600;
    font-size: 30px;
    font-family: "DM Serif Display", serif;
}
.menuLinks{
    font-size: 18px;
    font-family: Archivo, sans-serif;
    font-weight: 600px;
    font-style: normal;
}
a{
    margin: 0px 15px;
    text-decoration: none;
    transition: color 0.2s;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
a:hover {
  text-decoration: underline; 
  color: black;                
}